* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: aliceblue;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
}

.q-box {
  background-color: rgba(140, 173, 219, 0.618);
  padding: 15px;
  margin: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
  transition: 0.3s;
}

h2 {
  text-shadow: 0px 0px 2px black;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(100, 136, 186, 0.671);
}

h3,
button {
  padding: 10px;
  margin-left: 50px;
  text-shadow: 0px 0px 2px black;
  transition: 0.3s;
}

button {
  background-color: rgb(70, 115, 178);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px black;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

button:disabled:hover {
  background-color: gray;
  transform: scale(1);
}

input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid rgb(70, 115, 178);
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 50px;
  outline: none;
  color: rgb(70, 115, 178);
  font-weight: bold;
  width: 400px;
}
